<h1> Hola, </h1>

<p>
	Te han invitado a un evento si no estas registrado tu usuario <%= @user.email %> y tu clave es 123456. Puedes cambiarla dentro de la aplicacion 
</p>

<a href="http://localhost:3000/events/<%= @event.id %>" style="text-decoration: none; color: #fff; background-color: #26a69a; text-align: center; letter-spacing: .5px;">button</a>