<% if @event.tasks.length>0 %>
<% extras = @event.tasks.detect {|t| t.name == "extras"} %>
<% puts extras %>
   <div class="js-extras-cards">
     <% extras.choices.each_with_index do |choice| %>
       <% @choice=choice %>
       <%= render '/choices/option_card', choice: @choice %>
     <% end %>
   </div>
<% end %>