<%= stylesheet_link_tag 'event_menu', media: 'all' %>


<div class="menu">
 <ul class="collection description">
    <li class="collection-item avatar event">
      <img src="https://www.balearia.com/wps/wcm/connect/29be9bb4-a010-450d-80a0-0cba78be8240/1/llauts-tradicion-marinera-formentera.png?MOD=AJPERES&CACHEID=29be9bb4-a010-450d-80a0-0cba78be8240/1" alt="" class="circle">
      <span class="title_event"><%= @event.name %></span>
      <p><%= @event.description %><br>
      </p>
      <a href="#!" class="secondary-content"></a>
    </li>
  </ul>