// Place all the styles related to the choices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.card{
  width: 30%;
  height: 30%;
  left: 10px;
  top: 10px;
}

div.input-field i.material-icons.prefix{
  font-size: 1.5rem;
}

div.row{
   margin-left: 65px;
   position: relative;
   top: -47px;
}