div.menu{
  width: 25%;
  display: inline-block;
}

a.btn-floating.btn-large.waves-effect.waves-light{
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    left: 1300px;
}
//
i.material-icons {
  position: relative;
  top: -7px;
}

.collection .collection-item.avatar .title{
	position: relative;
    left: -33px;
    top: 20px;
}

li.collection-item.avatar.options{
	left: 0px;
	padding: 6px 7px;
	font-family: 'CenturyGothic';
}

li.collection-item.avatar.event{
	padding: 41px 97px;
	font-family: 'CenturyGothic';
}

body {
	background-color: #eeeeee;
}

ul.collection.description{
	margin-top:-14px;
}

.collection .collection-item.avatar .circle{
	position: absolute;
    width: 70px;
    height: 70px;
    top: 29px;
}
div.choiceForm{
    display: inline-block;
    float: right;
    width: 40%;
    background-color: white;
    padding: 10px;
    margin-right: 480px;
}

img.menu{
    width: 300px;
    height: auto;
}
ul.side-nav {
    top: 64px;
}

#sidenav-overlay{
    top: 64px;
}

i.material-icons.user{
        position: relative;
    top: -41px;
    left: 250px;
}

li.user{
    height: 54px;
}

li.task div.switch{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
}

li.task{
    position: relative;
}

div.card [type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
    top: 9px;
    left: 216px;
}

h4 {
    font-size: 120%;
    font-family: 'CenturyGothic';
}