@font-face {
    font-family: 'CenturyGothic'; /*a name to be used later*/
    src: local('../fonts/CenturyGothic.ttf')
}

.signup {
   height: 250px;
   width: 450px;
   background: #FFFFFF;
   position: absolute;
   top: 40px;
   left: 850px;
   border-radius: 5px;
   font-family: 'CenturyGothic'
} 

.login {
   height: 190px;
   width: 450px;
   background: #FFFFFF;
   position: absolute;
   top: 350px;
   left: 850px;
   border-radius: 5px;
   font-family: 'CenturyGothic'
} 

body{
   background-color: transparent;
}

html {
    background-image: url("kids.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}
.brand{
	font-size: 300%;
	color: white;
	position: absolute;
	top: 60px;
	left: 200px;
	padding: 10px 18px;
	margin: 5px 18px;
	float: left;
        font-family: 'CenturyGothic'
}

.claim{
	font-size: 190%;
	color: white;
	position: absolute;
	top: 120px;
	left: 40px;
	padding: 5px 18px;
	margin: 5px 18px;
        font-family: 'CenturyGothic'
}

h2.registration {
 	font-size: 110%;
 	text-align: center;
	color: black;
	position: relative;
	width: 450px;
	height: 30px;
	float: left;
	padding: 9px 30px;
	margin: 5px 0px;
	font-weight: bold;
        font-family: 'CenturyGothic'
}

.line{
   width: 450px;
   background: #22BDDD;
   position: relative;
   top: 40px;
   height: 1px;
   font-family: 'CenturyGothic'
}

input.form-control{

   position: relative;
   top: 5px;
   left: 20px;
   height: 5px;
   margin: 5px 5px;
   height: 40px;
   font-family: 'CenturyGothic';
}

input[type='text'].form-control, input[type='email'].form-control, input[type='password'].form-control {
   position: relative;
   top: 5px;
   left: 20px;
   height: 5px;
   margin: 5px 5px;
   width: 400px;
   height: 40px;
   border-radius: 5px;
   font-family: 'CenturyGothic';
   border: 3px;
   box-shadow: 1px 1px 1px 1px grey;
   text-align: left;
   padding-left: 15px; 
}

input[type="submit"].form-control {
  width: 415px;
  border-radius: 5px;
}

.actions{
   background-color: #22BDDD;
   color: white;
   text-align: left;
   font-size: 100%;
   font-family: 'CenturyGothic';
   border-style: none;
   box-shadow: 1px 1px 1px 1px grey;
}

.fieldremember {
    position: relative; 
    left: 20px;
    margin-bottom: 10px;
    height: 5px;
    width: 300px;
    margin: 15px;
    font-weight: normal;
    font-family: 'CenturyGothic'
 }


label[type="checkbox"].before, label[type="checkbox"]:not(.filled-in).after{
    position: relative; 
    left: 20px;
    top: 10px;
    font-family: 'CenturyGothic'
}

a.forgetpassword {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'CenturyGothic';
  font-size: 80%;
  position: relative;
  left: 250px;
  top: -11px;
}

.forgetpassword:visited {
  color: #22BDDD;

}

.box_registration{
  height: 70px;
}

label{
  position: relative;
  left: 70px;
  top: 10px;
}

.forgetpassword [type="checkbox"]+label:before{
  position: absolute;
  left: 0px;
  top: 10px;
}

.forgetpassword [type="checkbox"]:checked+label:before{
  position: absolute;
  left: 0px;
  top: 7px;
}

.row.forgetpassword{
  position: relative;
  left: -25px;
  top: -10px;
} 


