.signup {
  height: 230px;
  width: 450px;
  background: #FFFFFF;
  position: relative;
  top: 40px;
  left: 900px;
  border-radius: 5px;

} 

.login {
  height: 230px;
  width: 450px;
  background: #FFFFFF;
  position: relative;
  top: 70px;
  left: 900px;
   border-radius: 5px;
} 


.kids {
  background-image: url("kids.png");
  position: relative;
  padding: auto;
  float: left;
}
